// You can put your custom (S)CSS code here.
// You can use any variable declared in the other configuration files
@mixin custom-generic {
  // Styles here will be applied to both screen and print
  header {
    margin-bottom: $spacing-huge;

    a {
      display: block;
      font-size: 16px;
      font-weight: normal;
      
      span {
        color: $color-accent;
        display: block;
        font-family: $font-serif;
        padding-top: $spacing-small;
      }
    }
  }

  footer {
    margin-top: $spacing-huge;
  }

  a.card {
    font-weight: normal;

    strong {
      display: block;
      font-family: $font-condensed;
      text-transform: uppercase;
      margin-bottom: $spacing-small;
    }
  }
}

@mixin custom-screen {
  // Styles here will be applied only to screen
  .loader, .loader::before, .loader::after {
    animation: loader ($transition-duration * 3) ease-in-out infinite;
    background: transparent;
    height: $spacing-medium;
    width: $spacing-medium;
  }

  .loader {
    margin: (3 * $spacing-huge) auto;
    position: relative;

    &::before, &::after {
      content: '';
      display: block;
      position: absolute;
    }

    &::before {
      left: -($spacing-large * 2);
      animation-delay: -$transition-duration / 3;
    }

    &::after {
      left: ($spacing-large * 2);
      animation-delay: $transition-duration / 3;
    }
  }

  @keyframes loader {
    0%, 66%, 100% { box-shadow: 0 ($spacing-medium + $spacing-small * 2) 0 0 $color-accent; }
    33% { box-shadow: 0 ($spacing-medium + $spacing-small * 2) 0 $spacing-small $color-primary; }
  }
}

@mixin custom-print {
  // Styles here will be applied only to print
  
}

@mixin custom-page {
  // Styles here will be applied in print to the @page directive
  size: A4;
}
